.h2 {
  border:orange; 
  border-width:5px; 
  border-style:solid;
  background-color: #FAC898
}
#australie {
  float:right;
  margin-right:30px;
  margin-bottom:15px;
}
#roses {
  position:absolute;
  top:150px;
  right:30px;
}
.interligne {
      line-height: 3em
    }
    h1,h2 { 
      font-family:"calibri", serif;
      text-align: center;
    }
    h2 {
      font-size: 30px
    }
    h1 {
      background-color: gray;
      margin:10px
      font-size: 45px
    }
    h4 {
      font-family:"helvetica";
      background-color:#ADD8E6;
      margin:10px;
      font-style:italic;
      font-size: 25px;
    }
